mixin buttonWithIcon({link, text, hoverIconWhite})
  if link
    a.button.button_type_link(
      href="#",
      class=attributes.class,
      class={ "button_hover_white-icon": hoverIconWhite }
    )
      span.button__text= text
      span.icon-button_bg
        span.icon-arrow_right
  else
    button.button.button_type_button(class=attributes.class)
      span.button__text= text
      span.icon-button_bg
        span.icon-arrow_right
