include ../buttonWithIcon/buttonWithIcon

header.header
  nav.header__nav
    ul.header__list 
      li.header__list-item
        a.header__nav-link(
          href="http://",
          target="_blank",
          rel="noopener noreferrer"
        ) Павелецая наб., 2, стр. 18
      li.header__list-item
        a.header__nav-link(href="tel:+7-926-51-65-555") 8-926-51-65-555
      li.header__list-item
        a.header__nav-button(
          href="http://",
          target="_blank",
          rel="noopener noreferrer"
        ) 
          span.icon-button_bg
      li.header__list-item
        a.header__nav-button(
          href="http://",
          target="_blank",
          rel="noopener noreferrer"
        ) 
          span.icon-button_bg
  .header__banner
    .header__content
      h1.header__title Семейные
        span.header__title.header__title_size_small традиции вкуса
      p.banner__text Слегка терпкий вкус риса с приятной остротой, сладость моркови и аппетитные кусочки мяса…
      p.banner__text Рука так и тянется за новой порцией!
      +buttonWithIcon({link: true, text: 'Сделать заказ'})
    .header__image-wrapper
      img(src="/src/images/plov_header.png", alt="")
