include ../buttonWithIcon/buttonWithIcon
include ../redFilter/redFilter

header.header
  +redFilter.header__filter
  nav.header__nav
    ul.header__nav-list
      li.header__nav-item
        a.header__nav-link(
          href="http://",
          target="_blank",
          rel="noopener noreferrer"
        ) Павелецая наб., 2, стр. 18
      li.header__nav-item
        a.header__nav-link(href="tel:+7-926-51-65-555") 8-926-51-65-555
      li.header__nav-item
        a.header__nav-button(
          href="http://",
          target="_blank",
          rel="noopener noreferrer"
        ) 
          span.icon-button_bg
            span.header__nav-button-icon.icon-telegram
      li.header__nav-item
        a.header__nav-button(
          href="http://",
          target="_blank",
          rel="noopener noreferrer"
        ) 
          span.icon-button_bg
            span.header__nav-button-icon.icon-vk
  .header__banner
    h1.header__title Семейные
      span.header__title.header__title_size_small
        span традиции
        span вкуса
    .header__text
      p Слегка терпкий вкус риса с приятной остротой, сладость моркови и аппетитные кусочки мяса…
      p Рука так и тянется за новой порцией!
    +buttonWithIcon({link: true, text: 'Сделать заказ', hoverIconWhite: true}).header__banner-button
  .header__image-wrapper
    img.header__image(src="/src/images/plov_header.png", alt="")
